#dropdown {
    transition: height 0.3s ease;
}

#dropdown:hover {
    height: 235px;
    /* height: 280px; */
    border-bottom-left-radius: 10px;
}

#dropdown img {
    transition: transform ease 0.1s, filter ease 0.1s;
}

#dropdown:hover img {
    filter: invert();
    transform: rotate(0);
}

#dropdown button {
    opacity: 0;
    transition: opacity 0.3s ease;
}

#dropdown:hover button {
    opacity: 1;
}